*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button,
a {
    cursor: pointer;
    outline: none;
    border: none;
}

button {
    background-color: transparent;
}

a {
    text-decoration: none;
    outline: none;
}

img,
video {
    object-fit: cover;
}

li {
    list-style-type: none;
}