@import url("photographer.css");
@import url("lightbox.css");
@import url("reset.css");

:root {
    --color-primary: #901C1C;
    --color-secondary: #DB8876;
    --color-tertiary: #D3573C;
    --color-white: #fff;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 0 4rem;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header a {
    width: 200px;
    margin-left: 100px;
}

header a:focus-visible {
    outline: 3px solid var(--color-primary);
    border-radius: 5px;
    padding: 1px;
}

h1 {
    color: var(--color-primary);
    margin-right: 100px;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-white);
    padding: 5px;
}

.photographer_section article a:hover {
    transform: scale(1.05);
}

.photographer_section article a:focus {
    outline: none;
    border: 3px solid var(--color-primary);
    border-radius: 10px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.photographer_section article h2 {
    color: var(--color-tertiary);
    font-size: 36px;
    margin-bottom: 0;
}

.photographer_section article h3 {
    color: var(--color-primary);
    margin: 2px 0 3px;
}

.photographer_section article .tagline {
    font-size: 14px;
    margin: 3px;
}

.photographer_section article .price {
    font-size: 12px;
    color: #757575;
    margin: 3px;
}